*{
    padding:0;
    margin:0;
}
body{
    background-color:rgb(37,35,58);
    color:white;
}
h1{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 20%;
    font-size: 120px;
}
.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70%;
    font-size: 150px;
}
/****dot****/
.dot{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100px;
    width: 100px;
}
.dot1{
    width: 20px;
    height: 20px;
    background-color:white;
    border-radius: 20px;
}